<!doctype html>
<html lang="en">
@Html.Hidden("RedirectTo", Url.Action("ToDoList", "Home"))
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>jQuery UI Datepicker - Display inline</title>

    @*<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>*@

    <style type="text/css">
        .Done a {
            background-color: green !important;
            background-image: none !important;
            color: White !important;
            font-weight: bold !important;
            font-size: 12pt;
        }

        .Failed a {
            background-color: red !important;
            background-image: none !important;
            color: White !important;
            font-weight: bold !important;
            font-size: 12pt;
        }
    </style>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css" />

    <link rel="stylesheet" href="/resources/demos/style.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script>
        $(function () {
            $('#datepicker').datepicker({
                beforeShowDay: highlightOdds,
                maxDate: 0,
                dateFormat: 'yy-mm-dd',
                onSelect: function (dateStr) {
                    var url = $("#RedirectTo").val();
                    location.href = url + "/" + dateStr;
                }
            });
        });
        function highlightOdds(date) {
            var flag = false;
            var dateStr = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
            var today = new Date();
            if (date <= today) {
                $.ajax({
                    url: '@Url.Action("isDone", "Home")' + "/" + dateStr,
                    type: "GET",
                    success: function (data) {
                        flag = data;
                    },
                    async: false
                });
                return [true, flag.valid == true ? 'Done' : 'Failed'];
            }
            return [true, 'Failed'];
        };

    </script>

</head>
<body>
    <div id="datepicker"></div>


    <h2>我需要一双无情铁手。</h2>
    <h2>吉他需要持之以恒的大量的练习来达到炉火纯青。</h2>
    <h2>弹吉他本质上是按照一定的节奏按压以及拨动琴弦，使其震动发出声音，从而产生音乐。</h2>


    <iframe src="//player.bilibili.com/player.html?aid=54557036&bvid=BV194411T788&cid=95432606&page=1&danmaku=0" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
    <iframe src="//player.bilibili.com/player.html?aid=26843367&bvid=BV1Bs411J7mq&cid=46210787&page=1&danmaku=0" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
    <iframe src="//player.bilibili.com/player.html?aid=59322163&bvid=BV1Kt411G7Kq&cid=103373510&page=1&danmaku=0" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
    <iframe src="//player.bilibili.com/player.html?aid=79848751&bvid=BV1iJ411t7m9&cid=136658127&page=1&danmaku=0" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
    <iframe src="//player.bilibili.com/player.html?aid=25214160&bvid=BV1zs411j7ef&cid=42752366&page=1&danmaku=0" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>


    <div style="width: 100%;">
        <div style="width: 50%; height: 100px; float: left;">
            <h1>Goals:</h1>
            <ul>
                <li>小星星</li>
                <li>小蜜蜂</li>
                <li>卡农（单音版）</li>

                <li>Lemon</li>
                <li>Perfect</li>
                <li>7-Years</li>
            </ul>
        </div>
        <div style="margin-left: 50%; height: 100px;">
            <h1>Basic Skills</h1>
            <ul>
                <li>音阶</li>
                <li>和弦</li>
                <li>琶音</li>
                <li>乐理</li>
                <li>节奏</li>
                <li>风格</li>
                <li>左右手技巧</li>
                <li>击勾弦</li>
                <li>滑音</li>
                <li>拍弦</li>
                <li>扫弦</li>
                <li>切音</li>
                <li>大横按</li>
            </ul>

            <h1>Practice Routines:</h1>
            <ul>
                <li>爬格子+节拍器</li>
                <li>默写九大和弦</li>
                <li>单按九大和弦</li>
                <li>右手基础</li>
            </ul>

        </div>
    </div>
</body>
</html>
